# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# dotenv files
.env
.env.*

# Jupyter runtime
~/.local/share/jupyter/runtime/

# macOS files
.DS_Store

# Backup files
*~
*.bak
*.swp
